.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(31, 31, 31, 0.34);
    z-index: 1000;
}

.cookie-content {
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cookie-buttons {
    display: flex;
    gap: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cookie {
        top: 0;
    }

    .cookie-content {
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }

    .cookie-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}