---
---

<style>
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: var(--lg-container, 960px);
		/* padding: var(--container-padding, 1rem); */
		padding: 0 var(--step-3);
	}

	@media (max-width: 768px) {
		.container {
			display: flex;
			flex-direction: column;
		}
	}
</style>

<div class="container">
	<slot />
</div>
