---
---

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('pre code').forEach(block => {
            // hljs.highlightBlock(block as HTMLElement);
        });
    });
</script>
<style>
    .code {
        padding: 0;
        margin: 0;
    }
</style>

<div class="code">
    <slot />
</div>