:root {
  --theme-primary: hsl(0, 0%, 5%);
  --theme-on-primary: hsl(0, 0%, 90%);

  --theme-primary-hover: hsl(0, 0%, 10%);

  --theme-primary-light: hsl(0, 0%, 80%);

  --theme-background: hsl(0, 0%, 98%);
  --theme-on-background: hsl(0, 0%, 5%);

  --theme-surface-1: hsl(0, 0%, 93%);
  --theme-on-surface-1: hsl(0, 0%, 10%);

  --theme-code-background: #1a1a1a;
  --theme-on-code-background: rgba(245, 245, 245, 0.185);
  --theme-code-border: rgb(46, 46, 46);
  --theme-on-code-border: rgb(228, 228, 228);
} 