---
import Layout from "../layouts/Page.astro";
import Container from '../components/containers/Container.astro';
import BlogPostsList from "../components/post/BlogPostsList.astro";
import { getPosts } from "../libs/post";

const allPosts = await getPosts(undefined);
const posts = allPosts.filter(post => !post.personal);
const seo = {
    title: "cloud-np | Tech Blog",
    description: "A simple blog focused on provided the best",
};
---

<style>
    h1 {
        padding: 5vh;
        text-align: center;
        margin: 6rem 0;
    }
</style>

<Layout seo={seo}>
    <Container>
        <h1>Blog</h1>
        <BlogPostsList posts={posts} />
    </Container>
</Layout>
