---
import Container from '../components/Container.astro';
import Layout from '../layouts/Page.astro'

const seo = {
  title: 'Simple Blog | A template by Little Sticks',
  description: 'A simple blog template for Astro by Little Sticks',
}
---



<Layout seo={seo}>
  <Container>

    <div class="">
        
    </div>
  </Container>
</Layout>

