---
import Layout from "../layouts/Page.astro";
import Container from '../components/containers/Container.astro';
import TypeWriter from "../components/ui/TypeWriter.astro";
import BlogPostsList from "../components/post/BlogPostsList.astro";
import { getPosts } from "../libs/post";
import Reveal from "../components/Reveal.astro";

const seo = {
    title: "cloud-np",
    description: "A simple blog focused on provided the best",
};

const allPosts = await getPosts(undefined);
const posts = allPosts.filter(post => !post.personal);
---

<Layout seo={seo}>
    <Reveal />
    <Container>
        <section class="home-hero-text__container">
            <div class="home-hero-text">
                <h1>
                    Hi there! I'm Nick.
                </h1>
                <p class="home__main-text">
                    From dawn to dusk, I'm a software sorcerer🧙‍♂️, conjuring code
                    and casting spells 🪄 to solve intricate puzzles. Other than
                    that I enjoy freediving, skiing and playing football with
                    friends.
                </p>
            </div>
            <h4 class="projects-title fade-in">Latest Posts</h4>
            <BlogPostsList class="latest-projects-container" posts={posts} />
        </section>
    </Container>
</Layout>

<style>
    .home-hero-text__container {
        padding: 5vh 0;
        display: flex;
        flex-direction: column;
    }

    h1 {
        padding-bottom: 2.5rem;
        text-align: center;
        max-width: 100%;
    }

    p {
        padding-bottom: 6rem;
    }

    .home-hero-text {
        margin-top: 4rem;
    }

    .home__main-text {
        font-size: 1.2rem;
        max-width: var(--md-container);
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 10rem;
    }

    .waving {
        position: absolute;
        animation: waving-anim 0.5s ease-in-out 5 alternate;
        z-index: -1;
    }

    .waving {
        position: absolute;
        animation: waving-anim 0.5s ease-in-out 5 alternate;
    }

    @keyframes waving-anim {
        from {
            transform: rotate(15deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    .latest-projects-container {
        padding-top: 2rem;
    }

    .projects-title {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
</style>
