---
import Layout from "../layouts/Page.astro";
import Container from "../components/Container.astro";
import TypeWriter from "../components/TypeWriter.astro";
import BlogPostsList from "../components/BlogPostsList.astro";
import { getPosts } from "../libs/post";
import { Image } from "astro:assets";

const seo = {
    title: "cloud-np",
    description: "A simple blog focused on provided the best",
};

// const allPosts = await Astro.glob("./content/blog/*.{md,mdx}");
const allPosts = await getPosts(undefined);
//const allPosts = await Astro.glob("./blog/*.{md,mdx}");
const posts = allPosts.filter(post => !!post.personal);
---

<Layout seo={seo}>
    <Container>
        <div class="home-hero-text__container">
            <div class="home-hero-text">
                <h1>
                    Hi, I'm Nick.<span class="waving">👋🏼</span><br />I like to
                    <TypeWriter
                        waitPeriod={2000}
                        messages={[
                            "develop apps.",
                            "think creative.",
                            "keep improving.",
                        ]}
                    />
                </h1>
                <p class="home__main-text">
                    From dawn to dusk, I'm a software sorcerer, conjuring code
                    and casting spells to solve intricate puzzles. Other than
                    that I enjoy freediving, skiing and playing football with
                    friends. With an eye for detail and a penchant for problem
                    solving, I passionately engineer software.
                </p>
            </div>
            <h4 class="projects-title fade-in">Latest Projects</h4>
            <BlogPostsList class="latest-projects-container" posts={posts} />
        </div>
    </Container>
</Layout>

<style>
    .home-hero-text__container {
        padding: 5vh 0;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;
        height: 100vh; */
    }

    h1 {
        padding-bottom: 2.5rem;
    }

    p {
        padding-bottom: 6rem;
    }

    .home__main-text {
        font-size: 1.2rem;
    }

    .waving {
        position: absolute;
        animation: waving-anim 0.5s ease-in-out 5 alternate;
    }

    h1 {
        padding-bottom: 2.5rem;
    }

    p {
        padding-bottom: 6rem;
    }

    .waving {
        position: absolute;
        animation: waving-anim 0.5s ease-in-out 5 alternate;
    }

    @keyframes waving-anim {
        from {
            transform: rotate(15deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    .latest-projects-container {
        padding-top: 2rem;
    }

    .projects-title {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }
</style>
