---
import Layout from "../layouts/Page.astro";
import BlogPostsList from "../components/post/BlogPostsList.astro";
import { getPosts } from "../libs/post";
import Reveal from "../components/Reveal.astro";
import ScrollDown from "../components/ui/ScrollDown.astro";
import SceneController from "../components/ui/SceneController/SceneController.astro";
import { BackgroundBeams } from "../components/react/background-beams";
import Logo from "../components/ui/Logo.astro";
import MovingCards from "../components/ui/MovingCards.astro";
import zed from "../assets/zed.jpg";
import pumkin from "../assets/pumkin.jpg";
import abyss from "../assets/abyss.jpg";
import yang from "../assets/yang.gif";
import aktis from "../assets/aktis.jpg";
import oino8eh from "../assets/oino8eh.png";
import bentoBox from "../assets/bento-box.gif";
import betterNetflix from "../assets/better-netflix.png";
import { Image } from "astro:assets";

const seo = {
	title: "cloud-np",
	description: "A simple blog focused on provided the best",
};

const allPosts = await getPosts(undefined);
const posts = allPosts.filter((post) => !post.personal);
---

<Layout seo={seo}>
	<!-- <Reveal /> -->
	<SceneController />
	<BackgroundBeams client:load />
	<div class="container flex flex-col">
		<section class="landing px-3">
			<div class="moon"></div>
			<div class="moon moonRight"></div>
			<div class="hero-text-container mb-16">
				<div
					class="hero-title-container justify-center flex mb-10 overflow-hidden"
				>
					<h1 class="hero-title">Hi</h1>
					<h1 class="hero-title">there!</h1>
					<h1 class="hero-title">I'm</h1>
					<h1 class="hero-title slow-fade">Nick</h1>
				</div>
				<div class="overflow-hidden">
					<p class="flex justify-center hero-text slow-fade">
						With elegance in code and boldness in design. I enjoy
						transforming visions into reality with some frontend
						wizardry.
					</p>
				</div>
			</div>
			<div class="m-auto scroll-down-indicator">
				<ScrollDown />
			</div>
		</section>
		<section
			class="about w-max h-max flex self-center flex-col items-center"
		>
			<div class="logo-container mb-4">
				<div class="grad absolute"></div>
				<div class="w-28">
					<Logo />
				</div>
			</div>
			<div class="overflow-hidden h-18 flex justify-center">
				<h2
					class="portofolio-title translate-y-full text-center transition-all duration-300 ease-out"
				>
					My portofolio and past projects
				</h2>
			</div>
			<div class="overflow-hidden h-10 flex justify-center mt-6">
				<p
					class="portofolio-text translate-y-full text-center w-120 text-base"
				>
					Explore a small collection of my work showcasing some skills, creativity, but most importantly dedication to quality.
				</p>
			</div>
			<div class="grid grid-cols-1 lg:grid-cols-3 gap-2 py-10">
				<div
					class="lg:col-span-2 p-8 rounded-xl border border-[rgba(255,255,255,0.10)] bg-[rgba(40,40,40,0.30)] shadow-[2px_4px_16px_0px_rgba(248,248,248,0.06)_inset] group"
				>
					<div class="max-w-[550px]">
						<MovingCards duration={45000}>
							<div class="images-container flex flex-nowrap flex-shrink-0 content-center justify-center">
								{[zed, pumkin, abyss, aktis, oino8eh, betterNetflix, bentoBox, yang].map((img, index) =>
									<Image 
										class:list={['object-cover', "m-2", 'w-64', 'moving-card-img']}
										src={img}
										alt={`moving-img-${index}`}
									/>
								)}
							</div>
						</MovingCards>
					</div>
					<h3 class="text-lg font-semibold text-white py-2">
						Freelancing
					</h3>
					<p class="text-sm font-normal text-neutral-400 max-w-sm">
						With a perfect score when it comes to customer satisfaction,
						I pride my self delivering only best for my clients.
					</p>
				</div>
			</div>
		</section>
	</div>
	<section>
		<h4 class="projects-title fade-in">Latest Posts</h4>
		<BlogPostsList class="latest-projects-container" posts={posts} />
	</section>
</Layout>

<script>
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/all";
	import { Scroll } from "../components/ui/ScrollController/ScrollController";

	const REVEAL_DELAY = 3.72;
	gsap.registerPlugin(ScrollTrigger);

	function init(delay: number = 0) {
		const tl = gsap.timeline({
			defaults: { ease: "power2.out" },
			scrollBehavior: "smooth",
		});
		const portofolioTl = gsap.timeline({
			defaults: { ease: "power2.out" },
			scrollBehavior: "smooth",
			paused: true,
		});
		portofolioTl
			.to(".portofolio-title", { duration: 0.8, y: 0 })
			.to(".portofolio-text", { duration: 0.8, y: 0 }, "-=0.4");

		tl.to(".hero-title", { duration: 0.8, y: 0, delay }).to(
			".hero-text",
			{ duration: 0.8, y: 0 },
			"-=0.4",
		);
		tl.to(".about", {
			scrollTrigger: {
				trigger: ".about",
				start: "top-=500 center",
				end: "center-=300 center",
				scrub: true,
			},
			width: "100vw",
			duration: 2.2,
		});
		tl.to(".portofolio-title", {
			scrollTrigger: {
				trigger: ".about",
				start: "top center",
				end: "center center",
				scrub: true,
				onEnter: () => portofolioTl.play(),
			},
		});
		// window.addEventListener('scroll', updateOpacityOnScroll);
	}

	// Scroll.el(".about", {
	// 	y: (y, direction) => y + -1 * direction * 5,
	// });

	Scroll.el(".scroll-down-indicator", {
		opacity: () =>
			window.scrollY - 100 >= 0
				? Math.max(1 - (window.scrollY - 100) / 20, 0)
				: 1,
	});

	// init(REVEAL_DELAY);
	init();
	document.addEventListener("astro:after-swap", () => init());
</script>

<style>
	.landing {
		padding: 5vh 0;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
		height: 95vh;
		color: var(--primary);
	}

	.logo-container {
		margin-top: -3.5rem;
	}

	.grad {
		width: 40px;
		height: 40px;
		margin-top: 25px;
		left: 50%;
		background: radial-gradient(circle, #41b4e9, #4dedff);
		border-radius: 50%;
		filter: blur(10px);
		mix-blend-mode: color-dodge;
		animation: glow 6s infinite ease-in-out;
	}

	@keyframes glow {
		0% {
			opacity: 0.5;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0.5;
		}
	}
	/* all .5s cubic-bezier(.76,0,.24,1); */

	.about {
		margin-top: 5vh;
		height: 800px;
		border-radius: 5px;
		background: linear-gradient(0deg, rgb(20, 20, 20) 40%, rgb(14, 14, 14));
		transition: all 0.3s ease-out;
	}

	.moon {
		width: min(400px, 30vw);
		height: min(400px, 30vw);
		position: absolute;
		top: 10vh;
		left: 5vw;
		border-radius: 50%;
		z-index: -5;
		background: linear-gradient(
			-90deg,
			rgb(26, 26, 26) 10%,
			rgb(15, 15, 15)
		);
		cursor: none;
	}

	.moonRight {
		top: 20vh;
		left: 80vw;
		overflow-x: hidden;
		background: linear-gradient(
			90deg,
			rgb(26, 26, 26) 10%,
			rgb(15, 15, 15)
		);
	}

	@media (max-width: 768px) {
		.moonRight {
			display: none;
		}
	}

	/* Do not include margin to the last char for small devices */
	.hero-title-container .hero-title:not(:last-child) {
		margin-right: 13px;
	}

	.hero-title {
		transform: translateY(100%);
		z-index: -1;
	}

	.no-overflowing {
		overflow: hidden;
		border: 1px solid green;
	}

	h1 {
		text-align: center;
		max-width: 100%;
		font-size: min(6rem, 9vw);
		white-space: nowrap;
	}

	.hero-text {
		font-size: 1.3rem;
		transform: translateY(100%);
		max-width: min(var(--md-container), 600px);
		margin: auto;
		text-align: center;
	}

	.slow-fade {
		position: relative;
		mask-image: linear-gradient(115deg, #fff 34%, hsla(0, 0%, 100%, 0) 95%);
		-webkit-mask-image: linear-gradient(
			115deg,
			#fff 34%,
			hsla(0, 0%, 100%, 0) 95%
		);
	}

	.hero-text-container {
		/* transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1); */
		transition: all 0.3s ease-out;
	}

	.scroll-down-indicator {
		position: absolute;
		top: 85%;
		left: 50%;
		opacity: 0;
		transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	}

	.latest-projects-container {
		padding-top: 2rem;
	}

	.projects-title {
		margin-top: 6rem;
		margin-bottom: 3rem;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		max-width: var(--lg-container, 960px);
		/* padding: var(--container-padding, 1rem); */
	}

	@media (max-width: 768px) {
		.container {
			display: flex;
			flex-direction: column;
		}
	}

	.moving-card-img {
		transition: all ease 2s;
	}
</style>
