---
import Layout from "../layouts/Page.astro";
import Container from "../components/containers/Container.astro";
import PortofolioPostsList from "../components/post/PortofolioPostsList.astro";
import { getPosts } from "../libs/post";

const seo = {
    title: "cloud-np | Portofolio",
    description: "A simple blog focused on provided the best",
};

const allPosts = await getPosts(undefined);
const posts = allPosts.filter(post => !post.personal);
---

<style>
    .home-hero-text__container {
        padding: 5vh 0;
        display: flex;
        flex-direction: column;
    }
    h1 {
        padding-bottom: 2.5rem;
        text-align: center;
    }
    p {
        padding-bottom: 6rem;
    }
</style>

<Layout seo={seo}>
    <Container>
        <div class="home-hero-text__container">
            <div>
                <h1>Some of my projects</h1>
                <p>
                    <!-- I'm a programmer by heart and graphic designer by night. I love 
                     trying to solve complex problems while paying attention to the details. -->
                </p>
            </div>
            <PortofolioPostsList posts={posts}/>
        </div>
    </Container>
</Layout>
