---
import { settings } from "../data/settings";
import Container from "./Container.astro";
import SocialList from "./SocialList.astro";
import LittleSticksPlug from "./LittleSticksPlug.astro";
import SharePost from "./SharePost.astro";
import Logo from "./Logo.astro";
---

<footer>
  <Container>
    <div class="footer-links__grid">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a href="mailto:cloud-np@outlook.com">Contact</a>
        </li>
      </ul>
      <ul class="logo-container">
        <li><Logo /></li>
      </ul>
    </div>
    <div class="footer-bottom__container">
      <p>&copy; {new Date().getFullYear()} {settings.name}</p>
      <div class="socials-container">
        <h5>Follow me on</h5>
        <SocialList />
      </div>
    </div>
  </Container>
</footer>

<style>
  footer {
    position: relative;
    min-height: 200px;
    background-color: var(--theme-footer-background);
    color: var(--theme-on-footer-background);
    border-radius: 1rem 1rem 0 0;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: var(--theme-on-footer-background);
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socials-container {
    display: flex;
  }
  .socials-container > h5 {
    margin-right: 1rem;
  }

  .footer-links__grid ul li > a {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--font-family-body);
  }

  .footer-links__grid {
    padding: 2vh 0;
    display: flex;
    max-width: 800px;
    justify-content: space-between;
  }
  .footer-links__grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-bottom__container {
    position: relative;
    bottom: 0;
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--step--2);
  }

  @media (max-width: 480px) {
    .footer-bottom__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
</style>
