---
import Container from './Container.astro';
import Logo from './Logo.astro';
import SocialList from './SocialList.astro';
---

<script>
  import './ThemeToggleButton/theme-toggle-button'
</script>

<style>
  header {
    height: var(--theme-header-height, 64px);
    display: flex;
    align-items: center;
  }
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    display: flex;
  }
  li {
    list-style: none;
    margin: 1rem;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    font-style: var(--font-family-heading);
  }
  .header__logo {
    margin: 0;
  }
  .theme-toggle__container {
    margin-left: 1rem;
    position: relative;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<header>
  <Container>
    <nav>
      <ul>
        <li>
          <a class="header__logo" href="/" title="Navigate Home">
            <Logo />
          </a>
        </li>
        <li>
          <a class="clickable" href="/blog" title="Navigate Home">
            Blog
          </a>
        </li>
        <!-- <li>
          <a class="clickable" href="/portofolio" title="Navigate Home">
            Portofolio 
          </a>
        </li> -->
        <li>
          <a class="clickable" href="/contact" title="Navigate Home">
            Contact
          </a>
        </li>
      </ul>
      <SocialList />
    </nav>
  </Container>
  <div class="theme-toggle__container">
    <!-- I was running into some issues with the Lit integration so I'm using it as a client script for now -->
    <theme-toggle-button></theme-toggle-button>
  </div>
</header>
