---
import Logo from "./ui/Logo.astro";
---

<div class="reveal">
	<div class="welcome-container">
		<div class="logo">
			<Logo />
		</div>
		<div class="welcome-text-wrapper">
			<h3 class="welcome-text">
				cloud-np
			</h3>
		</div>
	</div>
</div>

<script>
	import gsap from "gsap";

	function init() {
		const tl = gsap.timeline({ defaults: { ease: 'power4.out', duration: 0.7 }});

		(document.getElementsByClassName("reveal")[0] as HTMLElement).style.display = "block";
		const defaults = { opacity: 0, scale: 1, stagger: .03 };
		gsap.set('svg', { autoAlpha: 1 });
		tl
		.from(".cls-2", { ...defaults, skewX: 40, y: 200 })
		.from(".cls-3", { ...defaults, y: -60 })
		.from(".cls-4", { ...defaults, skewY: 40, y: 60 })
		.from(".welcome-text", { y: -60 }, "-=0.3")
		.fromTo(".logo", { filter: "brightness(1)" }, { filter: "brightness(1.75)", duration: 0.7 }, "-=0.6")
		.to(".logo", { opacity: 0, scale: 2, ease: 'power4.inOut' })
		.to(".welcome-text", { y: 80 }, "-=0.5")
		.to(".reveal", { scaleY: 0, transformOrigin: 'top', duration: 1.2, ease: 'power4.inOut' }, "-=0.7");

		disableScrolling();
		setTimeout(() => {
			enableScrolling();
			// (document.getElementsByClassName("reveal")[0] as HTMLElement).style.display = "none";
		}, 3500);
	}

	function disableScrolling(){
		document.body.style.overflow = 'hidden';
	}

	function enableScrolling(){
		document.body.style.overflow = '';
	}

	init();

	// TODO: Just disable anything after the initial load.
	// document.addEventListener('DOMContentLoaded', () => {
	// 	const reveal = (document.getElementsByClassName("reveal")[0] as HTMLElement);
	// 	console.log("m here", reveal);
	// 	if (reveal) {
	// 		console.log("I am here");
	// 		enableScrolling();
	// 		reveal.style.display = 'none';
	// 	}
	// });

	// TODO: 
	// https://docs.astro.build/en/guides/view-transitions/#astrobefore-preparation
	// document.addEventListener('astro:before-preperation', func)
	// document.addEventListener('astro:after-swap', () => {
	// 	init();
	// });
</script>

<style>
	.reveal {
		background-color: hsl(0, 3%, 4%);
	}

	.reveal, .welcome-container {
		padding: 0;
		margin: 0;
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 999;
	}

	.welcome-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.logo {
		width: 12rem;
		z-index: 3;
	}

	.cls-1 { 
		opacity: 0
	}

	.welcome-text {
		color: white;
		margin: 0;
		padding: 0;
		font-family: var(--f-sans);
	}

	.welcome-text-wrapper {
		z-index: 2;
		margin-top: -40px;
		height: 45px;
		overflow: hidden;
	}
</style>